.home {
  .hero {
    background-color: $black75;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    //height: 540px;
    height: 37vw;
    position: relative;
    overflow: hidden;
    @include breakpoint(mobile){
      height: 290px;
    }
    .overlay {
      position: absolute;
      z-index: 10;
      background: rgba(0,0,0,0.75);
      width: 100%;
      height: 37vw;
      @include breakpoint(mobile){
        height: 291px;
      }
    }
    video {
      position: absolute;
      z-index: 9;
      width: 100%;
      // height: 540px;
      @include breakpoint(desktop){
        top: -7vw;
      }
      @include breakpoint(mobile){
        height: 370px;
      }
    }
    .intro {
      position: relative;
      .content {
        position: absolute;
        z-index: 10;
        text-align: center;
        width: 100%;
        top: 8vw;
        h1 {
          text-align: center;
          line-height: 1.3;
          // font-size: 4vmin;
          font-size: clamp(1rem, 3vmin, 3rem);
          margin-bottom: 0;
          font-weight: 700;
          @include breakpoint(mobile){
            font-size: 20px;
          }
          span {
            display: block;
            font-size: 125%;
            font-weight: bolder;
            font-weight: 500;
            @include breakpoint(mobile){
              font-size: 20px;
            }
          }
        }
        img {
          // max-width: 100%;
          width: 60vw;
          max-width: 100%;
        }
      }
    }
  }

  .current-episode {
    background: $brandblack;
    padding: 20px;
    color: $white;
    width: 100%;
    .contained {
      @include breakpoint(mobile){
        padding: 0;
      }
    }
    .episode {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      @include breakpoint(mobile){
        display: block;
      }
      .image {
        display: inline-block;
        width: 125px;
        margin-right: 50px;
        vertical-align: top;
        @include breakpoint(mobile){
          width: 100%;
          margin-right: 0;
          text-align: center;
        }
        img {
          width: 100%;
          margin-right: 10px;
          border-radius: 60px;
          @include breakpoint(mobile){
            width: 200px;
            margin: 0 auto;
            border-radius: 200px;
          }
        }
      }
      .content {
        // width: 100%;
        margin-top: 10px;
        h2 {
          margin: 0;
          font-weight: 500;
          font-size: 22px;
          margin-bottom: 5px;
          @include breakpoint(mobile){
            font-size: 16px;
          }
        }
        h4 {
          margin: 0;
          font-weight: 700;
          font-size: 18px;
          @include breakpoint(mobile){
            font-size: 14px;
          }
          a {
            color: $white;
            text-decoration: none;
          }
        }
        .powerpress_player {
          //mediaElement.js overrides
          .mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body {
            background: $brandblack;
            margin-top: 15px;
            .mejs-controls {
              padding: 0;
              .mejs-playpause-button.mejs-play {
                button {
                  border: solid 3px $white;
                  border-radius: 50%;
                  padding: 12px;
                  background-position: 3px 3px;
                  position: relative;
                  top: -5px;
                  left: -5px;
                }
              }
              .mjes-time-rail,
              .mejs-time-slider,
              .mejs-horizontal-volume-total,
              .mejs-horizontal-volume-current
              {
                border-radius: 6px;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }

  .episodes {
    background: $brandblue;
    padding: 40px 0;
    &.featured {
      background: $brandgreen;
    }
    h2 {
      font-size: 24px;
      text-align: center;
      color: $white;
    }
    .item {
      overflow: hidden;
      .inner {
        position: relative;
        .image {
          overflow: hidden;
          border-radius: 300px;
          img {
            margin: 0 auto;
            max-height: 200px;
            max-width: 200px;
            border-radius: 300px;
            margin-bottom: 10px;
          }
        }
        .content {
          text-align: center;
          a {
            text-decoration: none;
            color: $white;
          }
          h5 {
            font-size: 18px;
            margin: 0;
          }
          h4 {
            font-size: 18px;
            margin: 10px 0;
          }
          p {
            line-height: 1.2;
          }
        }
      }
    }

    .episode-carousel {
      .owl-nav {
        position: absolute;
        top: 18%;
        width: 100%;
        @include breakpoint(mobile) {
          display: none;
        }

        button {
          font-size: 300px;
          color: $black;
          position: absolute;
          // opacity: 0.4;
          transition: all 500ms;

          div.nav-btn {
            width: 75px;
            height: 100px;
            background-repeat: no-repeat;
          }

          &.owl-prev {
            left: -80px;

            .nav-btn {
              background-image: url("../img/icons/angle-left-solid-reverse.svg");
            }
          }

          &.owl-next {
            right: -80px;

            .nav-btn {
              background-image: url("../img/icons/angle-right-solid-reverse.svg");
            }
          }

          &:hover {
            opacity: 1;
          }

          &:active,
          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .about {
    margin: 40px 0 50px 0;
    h2 {
      // text-align: center;
      color: $brandblue;
      // text-transform: uppercase;
      line-height: 1.25;
    }
  }

  .newsletter-signup {
    background: $brandblack;
    padding: 25px 0;
    .newsletter-widget {
      width: 100%;
      label {
        color: $brandorange2;
        text-align: center;
        display: block;
        margin-bottom: 10px;
      }
      .mc4wp-form.mc4wp-form-421 {
        margin-bottom: 0;
        .mc4wp-form-fields {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          max-width: 992px;
          margin: 0 auto;
          p {
            margin: 0;
            padding: 0;
            font-family: "Red Hat Display", sans-serif;
            label {
              display: block;
              font-size: 10px;
              &.sr-only {
                display: none;
              }
            }
            input {
              display: block;
              font-size: 18px;
              width: 100%;
              padding: 5px;
            }
            input[type="email"]{
              position: relative;
              // top: 3px;
              width: 300px;
              border: solid 1px white;
            }
          }
          p.submit {
            margin: 0;
          }
          input[type="submit"] {
            background: $brandorange;
            color: $white;
            font-weight: bold;
            font-family: 'Red Hat Display';
            border: none;
            font-size: 18px;
            width: 100%;
            text-transform: uppercase;
            border-radius: 0;
            height: 33px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            @include breakpoint(mobile) {
              border-radius: 4px;
              margin-top: 15px;
              height: auto;
              padding: 0.25em 1em;
            }
            &:hover {
              cursor: pointer;
              color: $brandblack;
              background: $brandorange2;
            }
          }
        }
      }
    }
  }

  .patreon {
    padding: 25px 0;
    text-align: center;
    background: $brandblack;
    .contained {
      @include breakpoint(mobile){
        padding: 0;
      }
    }
    a {
      color: $brandorange2;
      font-weight: 700;
      font-size: 25px;
      text-decoration: none;
      background-image: url('../img/patreon-mic.png');
      background-repeat: no-repeat;
      background-position: 8% 0;
      background-size: 30px;
      padding-left: 45px;
      line-height: 52px;
      display: block;
      @include breakpoint(mobile){
        font-size: 20px;
        line-height: 30px;
        background-position: 6% 20px;
      }
      &:hover {
        color: $white;
      }
    }
  }

  .reviews {
    background: $white;
    padding: 25px 0;
    color: $textcolor;
    h2 {
      color: $brandgreen;
      text-align: center;
      padding-bottom: 25px;
      border-bottom: solid 1px $black25;
    }
    .contained {
      @include breakpoint(mobile) {
        padding: 0;
      }
    }
    .contained p {
      text-align: center;
    }
    .review-container {
      border-bottom: solid 1px $black25;
      padding-bottom: 20px;
      margin-bottom: 20px;
      @include breakpoint(mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ".";
      }

      .owl-nav {
        position: absolute;
        top: 40%;
        z-index: 999;
        background: red;
        width: 100%;
        @include breakpoint(mobile){
          display: none;
        }

        button {
          position: absolute;
          transition: all 500ms;

          div.nav-btn {
            width: 75px;
            height: 100px;
            background-repeat: no-repeat;
          }

          &.owl-prev {
            left: -80px;

            .nav-btn {
              background-image: url("../img/icons/angle-left-solid.svg");
            }
          }

          &.owl-next {
            right: -80px;

            .nav-btn {
              background-image: url("../img/icons/angle-right-solid.svg");
            }
          }

          &:hover {
            opacity: 1;
          }

          &:active,
          &:focus {
            outline: none;
          }
        }
      }
      .review {
        @include breakpoint(mobile) {
          padding: 0 20px;
        }
        img {
          display: block;
          width: 200px;
          margin: 0 auto;
        }

        h3 {
          font-size: 16px;
          font-weight: $bold;
          text-align: center;
          margin: 0;
          margin-bottom: 15px;
          padding: 0;
        }

        p {
          margin-top: 10px;
          font-size: 16px;
          font-weight: $thin;
          line-height: 1.8;
          text-align: justify;
        }

        h5 {
          font-weight: normal;
          font-style: italic;
          margin-top: 0;
        }
      }
    }
  }

  .consulting {
    padding-bottom: 40px;
    h2 {
      text-align: center;
      color: $brandgreen;
      text-transform: uppercase;
    }
    .contained {
      @include breakpoint(mobile) {
        padding: 0;
      }
    }
    .consultants {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin-top: 35px;
      .consultant {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 48%;
        @include breakpoint(mobile){
          flex-flow: row wrap;
          width: 100%;
        }
        .image {
          img {
            width: 200px;
            border-radius: 50%;
            @include breakpoint(mobile){
              width: 150px;
            }
          }
        }
        .content {
          a {
            text-decoration: none;
            color: $textcolor;
            &:hover {
              color: $brandorange;
              h4 {
                color: $brandorange;
              }
            }
          }
          padding-left: 30px;
          @include breakpoint(mobile) {
            padding-left: 10px;
          }
          h3 {
            line-height: 1.3em;
            width: 130px;
          }
          h4 {
            color: $brandgreen;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.25;
          }
          h5 {
            font-size: 16px;
            margin-top: 0;
          }
        }
      }
    }
  }

  .video {
    background: $black;
    iframe {
      width: 100%;
      @include breakpoint(desktop){
        height: 540px;
      }
    }
  }

  .products {
    padding-bottom: 40px;
    h2 {
      color: $brandgreen;
      text-align: center;
    }
    .product-container {
      display: flex;
      flex-flow: row;
      justify-content: center;
      .item {
        width: 33%;
        img {
          max-width: 100%;
          height: auto;
        }
        @include breakpoint(mobile){
          width: 33%;
          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }

}
