main {
  color: $textcolor;
  .container {
    @include breakpoint(desktop){
      max-width: 1010px;
    }
    &.narrow {
      max-width: 672px;
    }
    &.full-size {
      p {
        @include breakpoint(desktop){
          width: 672px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    img {
      height: auto;
    }
    iframe {
      // margin-top: 40px;
      border-radius: 20px;
      @include breakpoint(desktop){
        // margin-left: -175px;
      }
      @include breakpoint(mobile){
        // width: 100% !important;
      }
    }
  }
  h1 {
    font-size: 48px;
    font-family: 'Archivo';
    text-align: center;
    font-weight: 400;
    margin-top: 1em;
  }
  p {
    line-height: 1.7em;
  }
}

.page-template-template-partners {
  .partners-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    .partners-content {
      width: 65%;
      @include breakpoint(mobile){
        width: 100%;
      }
      &.no-feature {
        width: 100%;
      }
    }
    .featured-partner {
      width: calc(30% - 30px);
      padding: 15px;
      border-radius: 20px;
      border: solid 3px $trace;
      @include breakpoint(mobile){
        width: 100%;
      }
      img {
        height: auto;
        margin-bottom: 5px;
      }
    }
  }
  .partner-grid {
    background: $white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 5px $black10;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 820px;
    margin: 50px auto;
    align-items: center;
    @include breakpoint(mobile){
      width: 100%;
      padding: 0;
      justify-content: center;
    }
    a {
      width: 28%;
      margin: 15px 0;
      @include breakpoint(mobile){
        width: 65%;
      }
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

.single-post {
  p {
    line-height: 1.7;
  }
  .wp-block-pullquote {
    padding: 0;
    border: solid 4px $trace;
    border-radius: 50px;
    border-right: none;
    border-bottom: none;
    margin-top: 2em;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    p {
      color: $blue;
      letter-spacing: -0.05em;
      font-weight: bold;
    }
    &:before {
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      background: $white;
      border: solid 4px #CCC;
      border-radius: 50px;
      position: absolute;
      right: 0;
      top: -15px;
    }
    &:after {
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      background: $white;
      border: solid 4px #CCC;
      border-radius: 50px;
      position: relative;
      left: -15px;
    }
  }
  iframe {
    width: 100%;
    @include breakpoint(desktop){
      height: 560px;

    }
  }
  figcaption {
    text-align: center;
    font-size: 14px;

  }
}

.single-product {
  .product-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .images {
      width: 50%;
      overflow: hidden;
      @include breakpoint(mobile){
        order: 2;
      }
      ul.image-choices {
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        li {
          max-width: 100px;
          img {
            max-width: 100%;
          }
        }
      }
      .main-image {
        overflow: hidden;
        height: 500px;
        display: flex;
        align-items: center;
        img {
          max-width: 100%;
          width: 100%;
          height: auto;
        }
      }
    }
    .content {
      width: 50%;
      @include breakpoint(mobile){
        order: 1;
      }
      > * {
        padding-left: 30px;
        @include breakpoint(mobile){
          padding-left: 0;
        }
      }
      h1 {
        text-align: left;
      }
      h2 {
        color: $purple;
        &.sale {
          color: $green;
          font-size: 34px;
          span {
            padding-right: 10px;
            text-decoration: line-through;
            color: $red;
            font-size: 0.60em;
          }
        }
      }
      ul {
        padding-left: 50px;
      }
      p, ul li {
        line-height: 1.7em;
      }
      &.no-image {
        width: 100%;
      }
    }
    .images, .content {
      @include breakpoint(mobile){
        width: 100%;
      }
    }
  }
}
